= render 'layouts/header_stats'

%section.stats
  - if @words.any?
    %ul.words
      - @words.each do |word, votes|
        %li
          %strong.word= word
          %ul.votes
            - total = votes.inject(0) { |sum, vote| sum += vote.total }
            - votes.each do |vote|
              %li{style: "background-color: ##{vote.color}; width: #{Float(vote.total)/total}%;", title: "##{vote.color}"}
  - else
    No colors
