<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @vote.word %>
</p>

<p>
  <strong>Coloer:</strong>
  <%= @vote.coloer %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
