!!! 5

%html
  %head
    %title Alpha Color
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body
    %header.top
      %h1
        What color best represents&nbsp;
        %span.word>= @word
        ?
      %nav
        = link_to :stats, class: 'stats' do
          ←
          %span.cut-off See the
          stats
        = link_to :root, class: 'skip' do
          Skip
          %span.cut-off this word
          →
    %main= yield
    = javascript_include_tag "application"

